.icon {    
    width: 70px;
    height: 87px;
    z-index: 500;
    border: 1px solid transparent;
}

.icon img {
    user-select: none;
    pointer-events: none;
}

.icon:hover {
    background-color: #008cff1e;
}

#bin {
    top: 5px;
    left: 5px;
}

#vscode {
    top: 100px;
    left: 6px;

    width: 75px;
}

#chrome {
    top: 200px; 
    left: 5px;
}

#netbeans {
    top: 296px;
    left: 6px;

    width: 73px;
    height: 90px;
}