.icon {    
    width: 70px;
    height: 87px;
    z-index: 500;
    border: 1px solid transparent;
}

.icon:hover {
    background-color: #008cff1e;
}

#bin {
    top: 5px;
    left: 3px;
}

#vscode {
    top: 100px;
    width: 75px;
    left: 4px;
}

#chrome {
    top: 200px; 
    left: 3px;
}

#netbeans {
    top: 296px;
    width: 73px;
    height: 90px;
    left: 4px;
}