#kala {
    z-index: 15;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#kala_box {
    width: 100%;
    height: 100%;
    pointer-events: all;
    clip-path: polygon(100% 69%, 98% 65%, 97% 63%, 96% 64%, 94% 61%, 93% 58%, 92% 53%, 91% 49%, 91% 46%, 90% 43%, 88% 46%, 87% 47%, 85% 47%, 84% 45%, 84% 41%, 84% 38%, 85% 36%, 85% 35%, 86% 34%, 87% 33%, 88% 31%, 88% 29%, 87% 28%, 86% 26%, 85% 22%, 86% 20%, 87% 19%, 89% 19%, 90% 21%, 92% 25%, 92% 26%, 93% 26%, 94% 26%, 95% 27%, 96% 27%, 97% 28%, 97% 30%, 98% 31%, 99% 33%, 100% 34%, 100% 70%, 100% 69%, 100% 69%);
}

#kala_box:hover {
    background-color: red;
}
