* {
    position: absolute;
    margin: 0px 0px 0px 0px;
    /*user-select: none;*/
    overflow: hidden;
}


body {
    width: 1440px;
    height: 900px;
}

#frame {
    position: relative;
    width: 1440px;
    height: 900px;
}

/*
img, text {
    pointer-events: none;
}
*/

.unselectable {
    user-select: none;
    pointer-events: none;
}