#perro {
    z-index: 3;
    top: 285px;
    left: 440px;
    width: 187px;
    height: 157px;
    background-image: url("../img/perro/uwu.png");
    clip-path: polygon(62% 96%, 33% 62%, 26% 75%, 8% 68%, 7% 56%, 1% 39%, 0% 29%, 33% 0%, 100% 51%, 89% 78%);
}

#uwu_perro {
    transition: opacity 0.5s;
}

#uwu_perro:hover {
    opacity: 0%;
}

#fuet {
    z-index: 4;
    transform: rotate(-45deg);
    top: 374px;
    left: 72px;
}