#tiburon {
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#img_tiburon, #img_boca {
    top: 660px;
    left: 936px;
}

#gorro_tiburon {
    top: 640px;
    left: 1120px;
}

#img_tiburon {
    pointer-events: all;
    clip-path: polygon(1% 15%, 5% 34%, 18% 37%, 15% 48%, 14% 54%, 20% 53%, 25% 49%, 30% 49%, 34% 53%, 37% 59%, 36% 64%, 30% 67%, 27% 74%, 28% 80%, 24% 78%, 16% 80%, 13% 86%, 13% 94%, 16% 99%, 100% 100%, 100% 92%, 100% 84%, 98% 79%, 95% 74%, 98% 71%, 94% 66%, 89% 66%, 87% 61%, 86% 58%, 82% 56%, 78% 56%, 75% 57%, 75% 52%, 68% 48%, 66% 45%, 62% 39%, 65% 34%, 68% 29%, 71% 25%, 66% 22%, 62% 20%, 58% 21%, 54% 19%, 50% 16%, 43% 9%, 37% 5%, 31% 0%, 0% 0%);
}

#img_boca {
    z-index: 12;
    pointer-events: none;
}

#img_mano {
    z-index: 11;
    top: 660px;
    left: 905px;
    pointer-events: all;
    transition: left 0.3s;
    pointer-events: none;
    transform: none;
}

#img_laser {
    z-index: 150;
}

#juan {
    z-index: 9;
    top: 466px;
    left: 920px;
    clip-path: polygon(26% 85%, 33% 85%, 45% 86%, 56% 88%, 64% 91%, 73% 95%, 80% 100%, 88% 92%, 94% 91%, 99% 71%, 100% 42%, 94% 37%, 81% 30%, 64% 32%, 56% 32%, 36% 14%, 30% 4%, 16% 0%, 9% 0%, 2% 7%, 4% 13%, 0% 23%, 0% 32%, 6% 32%, 17% 27%, 24% 43%, 25% 56%, 30% 60%, 25% 85%);
    pointer-events: all;
}

#juan_text {
    z-index: 9;
    top: 610px;
    left: 995px;
    opacity: 0%;
    transition: opacity 1s;
}

#juan_screen {
    opacity: 0%;
    pointer-events: none;
}